<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A Django Website">
        <meta name="keywords" content="Django, Website">
        <title>Django 111</title>
    </head>
    <body>
        {% block body %}
            <p>Body block start</p>
            {% block content %}
                <p>content</p>
            {% endblock content %}
            <p>Body block end</p>
        {% endblock body %}
    </body>
</html>
